.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addPeopleInput {
  width: 360px;
  margin-top: 20px !important;
}
.chip {
  margin-top: 20px !important;
}
.relation {
  font-family: 14px;
  color: #333;
  float: left;
}
.errorText {
  color: red;
  text-align: center;
  margin-top: 10px;
}
.addPeopleButton {
  width: 360px;
  margin-top: 20px !important;
  display: block;
}
.sourceName {
  border: 1px solid #2f80ed !important;
}
.targetName {
  border: 1px solid #219653 !important;
}
.pathDiv {
  background-color: #dceafd;
  color: #4f4f4f;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 360px;
  margin: 20px auto;
  border-radius: 10px;
}
@media (max-width:600px) {
  .scroll {
    width: 360px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 4px, 4px;
    padding: 4px;
  }
}

